extends layout

block content
  each v in videos
    .col-sm-4
      .video-container
        video(autoplay=v.autoplay loop)
          source(src=v.url type="video/mp4")
        h3 #{v.title}
        p.description #{v.description}
        p.tags
          each t in v.tags
            a(href="/tag/"+t)= t

block scripts
  script.
    $(function setupVideo() {
      $("video").hover(function(event) {
        if(event.type === "mouseenter") {
            $(this).attr("controls", "");
        } else if(event.type === "mouseleave") {
            $(this).removeAttr("controls");
        }
      });
    });
